<% title = title.split(/\.jpg/i)[0] %>
<li>
    <a data-title="<%= title %>" data-url="<%= poster.url %>">
        <img src="<%= poster.url %>" alt="">
        <div class="pic-title"><%= title %></div>
    </a>
</li>
