<li>
    <a href="liangxin://photobrowser/?url=<%= url %>&title=<%= encodeURIComponent(title) %>">
	<img src="<%= url %>?imageView2/0/h/114" alt="">
	<div class="pic-title"><%= title %></div>
    </a>
</li>