a{
	text-decoration: none;
	color: #333;
	font-size: 14px;
}
.item .head{
	padding: 12px 0;
	margin: 0 12px;
	border-bottom: 1px solid #999;
	position: relative;
}

.item .head:after{
    content: "";
    position: absolute;
    width: 11px;
    height: 7px;
    background-image: url('../image/arrow-down.png');
    background-size: 11px 7px;
    right: 3px;
    top: 16px;
}

.item .post{
	padding: 12px 22px;
	margin: 0 12px;
	border-bottom: 1px solid #ccc;
}

.item ul{
	display: none;
}

.item.expand .head:after{
    background-image: url('../image/arrow-up.png');
}

.item.expand ul{
	display: block;
}