comments{
	width: 100%
}

comment{
	display: block;
}

comment .inner{
	height: 105px;
	border-bottom: 1px solid #ddd;
	margin: 0 10px;
	padding: 10px 5px;
	overflow: hidden;
	box-sizing: border-box;
}


comment .inner .avatar{
	width: 35px;
	height: 35px;
	display: block;
	margin: 0;
}